.login-page
  height: 100%;
  background-color: #7fc7af;
  .page-header
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  p
    //display: block;
    color: #40877c;
    margin: 0px;
  .title
    font-size: 48px;
    //font-weight: bolder;
    letter-spacing: 6px;
  .sub-title
    font-size: 32px;
    margin-top: 30px;
    letter-spacing: 4px;
